absl-py==0.7.0
astor==0.7.1
attrs==18.2.0
boto3==1.9.102
certifi==2018.11.29
Click==7.0
click-plugins==1.0.4
cligj==0.5.0
cloudpickle==0.8.0
cycler==0.10.0
dask==1.1.1
decorator==4.3.2
Fiona==1.8.4
funcy==1.10.1
gast==0.2.2
numpy>=1.15.4
GDAL==2.2.1
geopandas==0.4.0
grpcio==1.18.0
h5py==2.9.0
hupper==1.4.2
imageio==2.5.0
imgaug==0.2.8
Keras==2.1.6
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
lenses==0.5.0
Markdown==3.0.1
matplotlib==3.0.2
mercantile==1.0.4
mock==2.0.0
munch==2.3.2
networkx==2.2
opencv-python==4.0.0.21
pandas==0.24.1
PasteDeploy==2.0.1
pbr==5.1.2
Pillow==5.4.1
plaster==1.0
plaster-pastedeploy==0.6
protobuf==3.6.1
pyparsing==2.3.1
pyproj==1.9.6
pyramid==1.10.2
python-dateutil==2.8.0
pytz==2018.9
PyWavelets==1.0.1
PyYAML==4.2b1
scikit-image==0.14.2
scikit-learn==0.20.2
scipy==1.2.1
Shapely==1.6.4.post1
singledispatch==3.4.0.3
six==1.12.0
tensorboard==1.12.2
termcolor==1.1.0
toolz==0.9.0
tornado==5.1.1
translationstring==1.3
venusian==1.2.0
waitress==1.2.1
WebOb==1.8.5
Werkzeug==0.14.1
zappa==0.47.1
zope.deprecation==4.4.0
zope.interface==4.6.0
